*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font: 400 1.8rem/1.8 'Rubik', sans-serif;
  color: var(--gray-4);
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
