:root {
  // COLORS
  --primary: #e67e22;
  --white: #fff;

  // tints of colors
  --primary-tint-1: #fdf2e9;
  --primary-tint-2: #fae5d3;
  --primary-tint-3: #eb984e;

  // shades of colors
  --shade-1: #cf711f;
  --shade-2: #45260a;

  // accents & greys
  --gray-1: #888;
  --gray-2: #767676;
  --gray-3: #6f6f6f;
  --gray-4: #555;
  --gray-5: #333;

  // SHADOWS
  --shadow-1: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  --shadow-inside: inset 0 0 0 0.5rem #e67e22;
}

//////////// HELPERS ////////////
.margin-right-sm {
  margin-right: 1.6rem;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid-2-c {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-c {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-c {
  grid-template-columns: repeat(4, 1fr);
}
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}
